@font-face { font-family: csgo; src: url('../font/cs_bold.ttf');}

.map_banner {
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px 0px 5px 0px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

ul.nav {
    float: none;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 300px;
}

.container {
    width: 100%;
}

html, body {
    background-image:url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/bright_squares.png");
    background-size: initial;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

body {
    padding: 70px;
}

h1 {
    text-align: center;
    position: relative;
    top: 45%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.text-primary, a:hover, h2 {
    color: #FF7400;
}

.navbar-fixed-top {
    background: rgba(145, 145, 145, .5);
}

#title {
    font-weight: bold;
    font-size: 200%;
}
