@font-face { font-family: csgo; src: url('../font/cs_bold.ttf');}

.map_banner {
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px 0px 5px 0px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

ul.nav {
    float: none;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 350px;
}

.container {
    width: 100%;
}

html, body {
    background-image:url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/bright_squares.png");
    background-size: initial;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

body {
    padding: 70px;
}

h1 {
    text-align: center;
    position: relative;
    top: 45%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    }

.text-primary, div > a:hover, h2 {
    color: #FF7400;
    text-decoration: none;
    font-family: csgo;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.navbar-fixed-top {
    background: rgba(145, 145, 145, .5);
}

#title {
    font-weight: bold;
    font-size: 2em;
}

.modal-content, img {
    max-height: 850px;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    border-style: none;
}

.b-lazy {
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    max-width: 100%;
    opacity: 0;
}
.b-lazy.b-loaded {
    opacity: 1;
}


