<!DOCTYPE html>

<!-- This is a temp index.html page for testing and jerking off. -->

<head>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

    <!-- video playsinline autoplay muted loop poster="../static/images/staticsmoke.png" id="bgvid">
      <source src="../static/images/smoke.webm" type="video/webm">
      <source src="../static/images/smoke.mp4" type="video/mp4">
    </video -->
    
    <title>{{ mapData[1][0][3:]|title }}</title> 

    <div class = "map_banner mb_banner"><a href = "../">Operation : L2P</a></div>


<!-- Callout Map Image -->
    <div id="callouts">
      <img id='maps' src="../{{ mapData[1][1] }}" alt="{{ mapData[1][0] }}">
    </div>
    
</body>

</html>